<div style="text-align-last: center; margin-top: 300px">
    <div class="row">
        <div class="col-12">
            &nbsp;
            <span *ngFor="let esp of espacios">
                <span *ngIf="!contiene(esp)">
                    <p style="width: 20px">___</p> &nbsp;
                </span>
                <span *ngIf="contiene(esp)">
                    {{ esp }} &nbsp;
                </span>
            </span>
        </div>
    </div>
    <input style="margin-top:30px" type="text" max="1" (keyup)="validar()"[(ngModel)]="letra">
    <br>
    <p style="margin-top: 30px"> Lyrics used so far: </p>
    <br>
    {{miAhorcado.letrasElegidas}}
</div>