<div class="divjuegos">
    <a class="nav-link active" aria-current="page" [routerLink]="['/ahorcado']" style="color: white"><img class="img1" src="assets/ahorcadologo.png" style="background-color: white; width: 250px; height: 250px; border-radius: 20px;"></a>
    <a class="nav-link active" aria-current="page" [routerLink]="['/adivina']" style="color: white"><img class="img1" src="assets/adivinaloo.jpg" style="width: 250px; height: 250px; border-radius: 20px;"></a>
    <a class="nav-link active" aria-current="page" [routerLink]="['/tateti']" style="color: white"><img class="img1" src="assets/tateti.jpg" style="width: 250px; height: 250px; border-radius: 20px;"></a>
    <a class="nav-link active" aria-current="page" [routerLink]="['/piedrapapel']" style="color: white"><img class="img1" src="assets/piedrapaplogo.jpg" style="width: 250px; height: 250px; border-radius: 20px;"></a>
</div>