<div class="divjuegos">
<button type="button" class="btn btn-primary boton"><a class="nav-link active" aria-current="page" [routerLink]="['/ahorcado']" style="color: white">HANGED</a></button>
<button type="button" class="btn btn-primary boton"><a class="nav-link active" aria-current="page" [routerLink]="['/adivina']" style="color: white">GUESS THE NUMBER</a></button>
<button type="button" class="btn btn-primary boton"><a class="nav-link active" aria-current="page" [routerLink]="['/ahorcado']" style="color: white">TA-TE-TI</a></button>
</div>