.btn.btn-primary.boton {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 250px;
    height: 250px;
}

.divjuegos {
    text-align-last: center;
    place-content: center;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 300px 300px;
}
