<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" *ngIf="userLogged|async as user"><img class="imagen" style="width: 40px; height: 40px; border-radius: 10px;" src="./assets/imagenes/imagengame.jpg"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active" *ngIf="userLogged|async as user">Home</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/games']" routerLinkActive="active" *ngIf="userLogged|async as user">Games</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/aboutme']" routerLinkActive="active" *ngIf="userLogged|async as user"> About me</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/stats']" routerLinkActive="active" *ngIf="userLogged|async as user"> Stats</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/premium']" routerLinkActive="active" *ngIf="userLogged|async as user"> Premium</a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/newgame']" routerLinkActive="active" *ngIf="userLogged|async as user"> New Game</a>
              </li>        

              <li class="nav-item">
                <a class="nav-link" href="#" *ngIf="userLogged|async as user; else btnIngresar">
                  {{ user.email }}
                </a>
              </li>

              <li class="nav-item" *ngIf="userLogged|async as user">
                <a class="nav-link" (click)="logout()">Log out</a>
              </li>    

              <ng-template #btnIngresar>
                <button class="boton" routerLink="/login">Login</button>
              </ng-template>
  
            </ul>
          </div>
        </div>
    </nav>


    <router-outlet></router-outlet>
    
    <app-footer></app-footer>

</div>


