<div class="container" style="text-align-last: center; margin-top: 200px">

    <div class="zone one"><button class="boton" type="buttom" id="cuadro" (click)="Cuadro1()" (click)="WinLost()" ></button></div>
    <div class="zone two"><button class="boton" type="buttom" id="cuadrotwo" (click)="Cuadro2()" (click)="WinLost()" ></button></div>
    <div class="zone three"><button class="boton" type="buttom" id="cuadrothree" (click)="Cuadro3()" (click)="WinLost()" ></button></div>
    <div class="zone four"><button class="boton" type="butto" id="cuadrofour" (click)="Cuadro4()" (click)="WinLost()"></button></div>
    <div class="zone five"><button class="boton" type="buttom" id="cuadrofive" (click)="Cuadro5()" (click)="WinLost()"></button></div>
    <div class="zone six"><button class="boton" type="buttom" id="cuadrosix" (click)="Cuadro6()" (click)="WinLost()"></button></div>
    <div class="zone seven"><button class="boton" type="buttom" id="cuadroseven"  (click)="Cuadro7()" (click)="WinLost()"></button></div>
    <div class="zone eight"><button class="boton" type="buttom" id="cuadroeight"  (click)="Cuadro8()" (click)="WinLost()"></button></div>
    <div class="zone nine"><button class="boton" type="buttom" id="cuadronine" (click)="Cuadro9()" (click)="WinLost()"></button></div>

</div>